@using MVC_application.Helpers

@model MVC_application.Models.GoodsModel

@{
                ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Index", "Home"))
    {
        <label>Name</label>
        @Html.DropDownList("name", Model.Name)
        <label>Price from</label>
        @Html.TextBox("priceFrom")
        <label>Price to</label>
        @Html.TextBox("priceTo")
        <label>Sort by</label>
        @Html.DropDownList("sortType", Model.SortTypes)

        <input type="submit" />
    }
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Id)</th>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Name)</th>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Price)</th>
        </tr>
        @foreach (var good in Model.Goods)
        {
            <tr>
                <td>@good.Id</td>
                <td>@good.Name</td>
                <td>@good.Price</td>
            </tr>
        }

    </table>

    @Html.DisplayPagination(Model.PageInfo, (i) => Url.Action("Index", "Home", new { page = i }))
</div>

